# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

remote_theme             : "mmistakes/minimal-mistakes@4.24.0"

minimal_mistakes_skin    : "default" # "default", "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"

# Site Settings
locale                   : "zh-CN"
title                    : "日系生活家"
title_separator          : "-"
subtitle                 : # "怀抱理性，心向未来"
name                     : &name "日系生活家" # &name is a YAML anchor which can be *referenced later
description              : &description "怀抱理性、心向未来"
url                      : https://everjapan.com # the base hostname & protocol for your site e.g. "https://mmistakes.github.io"
baseurl                  : # the subpath of your site, e.g. "/blog"
repository               : ""
teaser                   : # path of fallback teaser image, e.g. "/assets/images/500x300.png"
logo                     : "/assets/images/logo.jpg" # path of logo image to display in the masthead, e.g. "/assets/images/88x88.png"
masthead_title           : # overrides the website title displayed in the masthead, use " " for no title
breadcrumbs              : false # true, false (default)
# words_per_minute         : 100

#analytics:
#  provider               : "google-gtag"
#  google:
#    tracking_id          : "G-YJ11QR950Q"
#    anonymize_ip         : false # default

author:
  name                   : "微信公众号"
  avatar                 : "/assets/images/qrcode_for_gh.jpg"
  email                  : "everjapan@163.com"
  bio                    : "关注日系生活家，带你了解日本"
  links:
    - label              : "小红书"
      url                : "https://www.xiaohongshu.com/user/profile/642b0b6f000000001400eda2"
    - label              : "B站"
      url                : "https://space.bilibili.com/481782510"
    - label              : "喜马拉雅"
      url                : "https://www.ximalaya.com/zhubo/210189066"
    - label              : "抖音"
      url                : "https://www.douyin.com/user/MS4wLjABAAAA1ZxYZLzx2yD9HCxvA5fLQSmA_L2AntzHulU2RfMsDOM"
    - label              : "微博"
      icon               : "fab fa-fw fa-weibo"
      url                : "https://weibo.com/u/7861984943"
    - label              : "知乎"
      url                : "https://www.zhihu.com/column/everjapan"

# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - Rakefile
  - README
  - tmp
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Collections
collections:
  proverbs:
    output: true
    permalink: /:collection/:path/
  vocabulary:
    output: true
    permalink: /:collection/:path/
  jlpt-grammar:
    output: true
    permalink: /:collection/:path/
  jlpt:
    output: true
    permalink: /:collection/:path/
  daily:
    output: true
    permalink: /:collection/:path/

# Defaults
defaults:
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      permalink: /:categories/:title/

  # JLPT Grammars/Exams
  - scope:
      path: ""
      type: jlpt
    values:
      layout: single
      author_profile: true
      toc: true

  # JLPT Grammars
  - scope:
      path: ""
      type: jlpt-grammars
    values:
      layout: grammer
      author_profile: false
      toc: true
      sidebar: 
          - nav: jlpt-grammars


  # _proverbs
  - scope:
      path: ""
      type: proverbs
    values:
      layout: single
      author_profile: false
      toc: true
      sidebar:
        - nav: proverbs

  # _daily
  - scope:
      path: ""
      type: daily
    values:
      layout: single
      author_profile: false
      toc: true
      share: true
      sidebar:
        - nav: daily 

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style

# Outputting
# permalink: /:categories/:title/
# paginate: 5 # amount of posts to show
# paginate_path: /page:num/
timezone: Asia/Shanghai # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

ompress_html:
  clippings: all
  ignore:
    envs: development

