# Jekyll configuration with minimal-mistakes theme

# Use remote_theme for GitHub Pages compatibility
remote_theme             : "mmistakes/minimal-mistakes@4.27.3"

minimal_mistakes_skin    : "dirt" # "default", "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"

# Site Settings
locale                   : "zh-CN"
title                    : "日系生活家"
title_separator          : "-"
subtitle                 : ""
name                     : &name "日系生活家" # &name is a YAML anchor which can be *referenced later
description              : &description "感受生活"
url                      : https://everjapan.com
baseurl                  : "" # Remove any subpath since your site is at root level
repository               : "everjapan/everjapan.github.io"
teaser                   : # path of fallback teaser image, e.g. "/assets/images/500x300.png"
logo                     : "/assets/images/logo.jpg" # path of logo image to display in the masthead, e.g. "/assets/images/88x88.png"
masthead_title           : # overrides the website title displayed in the masthead, use " " for no title
breadcrumbs              : true # true, false (default)
# words_per_minute         : 100
search                   : true # true, false (default)
search_full_content      : true # true, false (default)
search_provider          : lunr # lunr (default), algolia, google

github_metadata          : false

analytics:
  provider               : "google-gtag"
  google:
    tracking_id          : "G-S2B9GP1DWZ"
    anonymize_ip         : false

author:
  name                   : "日系生活家"
  avatar                 : "/assets/images/qrcode_for_gh.jpg"
  email                  : "everjapan@163.com"
  bio                    : "语言・生活・读书"
  links:
    - label              : "小红书"
      url                : "https://www.xiaohongshu.com/user/profile/642b0b6f000000001400eda2"
    - label              : "B站"
      icon               : "fab fa-brands fa-bilibili"
      url                : "https://space.bilibili.com/481782510"
    - label              : "抖音"
      icon               : "fab fa-brands fa-tiktok"
      url                : "https://www.douyin.com/user/MS4wLjABAAAA1ZxYZLzx2yD9HCxvA5fLQSmA_L2AntzHulU2RfMsDOM"
    - label              : "微博"
      icon               : "fab fa-brands fa-weibo"
      url                : "https://weibo.com/u/7861984943"
    - label              : "知乎"
      icon               : "fab fa-brands fa-zhihu"
      url                : "https://www.zhihu.com/column/everjapan"

# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - Rakefile
  - README
  - tmp
  - _layouts_backup
  - docs
  - test
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Collections
collections:
  proverbs:
    output: true
    permalink: /:collection/:path/
  vocabulary:
    output: true
    permalink: /:collection/:path/
  grammar-tutorial:
    output: true
    permalink: /:collection/:path/
  jlpt-grammars:
    output: true
    permalink: /:collection/:path/
  jlpt:
    output: true
    permalink: /:collection/:path/
  daily:
    output: true
    permalink: /:collection/:path/
  japanese-food:
    output: true
    permalink: /:collection/:path/
  japanese-culture:
    output: true
    permalink: /:collection/:path/
  travel:
    output: true
    permalink: /:collection/:path/
  reading-japanese-learning:
    output: true
    permalink: /:collection/:path/
  reading-history-culture:
    output: true
    permalink: /:collection/:path/
  reading-politics-economy:
    output: true
    permalink: /:collection/:path/

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: false
      share: true
      related: true
      toc: true
      toc_label: '目录'
      permalink: /:categories/:title/

  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true
      toc: true
      toc_label: '目录'

  # _grammar
  - scope:
      path: ""
      type: grammar-tutorial
    values:
      layout: single
      author_profile: false
      toc: true
      toc_label: '目录'

  # JLPT Grammars/Exams
  - scope:
      path: ""
      type: jlpt
    values:
      layout: single
      author_profile: false
      toc: true
      toc_label: '目录'

  # JLPT Grammars
  - scope:
      path: ""
      type: jlpt-grammars
    values:
      layout: single
      author_profile: false
      toc: true
      toc_label: '目录'

  # _proverbs
  - scope:
      path: ""
      type: proverbs
    values:
      layout: single
      author_profile: false
      toc: true
      toc_label: '目录'

  # _daily
  - scope:
      path: ""
      type: daily
    values:
      layout: single
      author_profile: false
      toc: true
      toc_label: '目录'

  # _japanese-food
  - scope:
      path: ""
      type: japanese-food
    values:
      layout: single
      author_profile: false
      toc: true
      toc_label: '目录'

  # _japanese-culture
  - scope:
      path: ""
      type: japanese-culture
    values:
      layout: single
      author_profile: false
      toc: true
      toc_label: '目录'

  # _travel
  - scope:
      path: ""
      type: travel
    values:
      layout: single
      author_profile: false
      toc: true
      toc_label: '目录'

  # _reading-japanese-learning
  - scope:
      path: ""
      type: reading-japanese-learning
    values:
      layout: single
      author_profile: false
      toc: true
      toc_label: '目录'

  # _reading-history-culture
  - scope:
      path: ""
      type: reading-history-culture
    values:
      layout: single
      author_profile: false
      toc: true
      toc_label: '目录'

  # _reading-politics-economy
  - scope:
      path: ""
      type: reading-politics-economy
    values:
      layout: single
      author_profile: false
      toc: true
      toc_label: '目录'

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style

# Outputting
# permalink: /:categories/:title/
paginate: 20 # amount of posts to show
paginate_path: /page:num/
timezone: Asia/Shanghai # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache
  - jekyll-remote-theme

# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache
  - jekyll-remote-theme

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

ompress_html:
  clippings: all
  ignore:
    envs: development

