---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.post-content {
    h2 {
        color: #541B1B;
        font-weight: bold;
        font-size: 1.2rem;
        margin: 32px 0 16px 0;
        border-bottom: 1px solid #f6f1ea;
    }
      
    h3 {
        font-size: 1.1rem;
        border-left: 6px solid #541B1B;
        padding: .5em 0 .5em 16px;
        background-color: #f6f1ea;
        margin-bottom: 16px;
    }
      
    ul {
        margin-bottom: 24px;
    }

    blockquote {
        font-size: 1rem;
        background: #f1f0eb;
        border-color: #dbdbdb;
        border-radius: 8px;
        color: #333;
        line-height: 1.6;
        padding: 1em;
        position: relative;
        font-style: normal;
        border-left: none;
    }

    strong {
        background: linear-gradient(transparent 64%, #f7ecc8 0%);
    }

    .more {
        color: gray
    }
}

.post-wx-appealing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        height: 160px;
    }

    .desc {
        color: #541B1B;
    }
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .footer-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
