---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.post-wx-appealing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        height: 160px;
    }

    .desc {
        color: #541B1B;
    }
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .footer-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}